In [3]:
print("Hello world!")

Hello world!

In [4]:
# Testing a comment

In [5]:
import uproot

In [6]:
import numpy as np

In [7]:
import pandas as pd

In [8]:
import matplotlib.pyplot as plt

In [17]:
# Open the ROOT file
T = uproot.open("/lustre19/expphy/volatile/halla/sbs/seeds/parse/parse_mc_sbs4_30p_barebones_alt.root:P")

In [18]:
T["dx"].array(library="pd")

0         -1.188730
1          0.603512
2         -1.077426
3         -0.543007
4         -2.483350
             ...
9181987   -1.612437
9181988   -0.328357
9181989   -0.540038
9181990   -0.630783
9181991    0.107671
Length: 9181992, dtype: float64

In [20]:
T.arrays("dx", aliases={"delta-x":"mc_weight_norm"})

In [21]:
T.arrays(["dx"], "mc_weight_norm").to_hist()

AttributeError: no field named 'to_hist'

In [36]:
hcalN = T.arrays(["sbs.hcal.nclus", "sbs.hcal.nblk"], library="pd")

In [37]:
hcalN

        sbs.hcal.nclus  sbs.hcal.nblk
0                  6.0            1.0
1                  2.0            1.0
2                  6.0            2.0
3                  5.0            1.0
4                  3.0            1.0
...                ...            ...
144678             2.0            1.0
144679             6.0            3.0
144680             5.0            1.0
144681             4.0            1.0
144682             5.0            1.0

[144683 rows x 2 columns]

In [42]:
T.arrays("sbs.hcal.e", aliases={"sbs.hcal.e":"sbs.hcal.nblk>2"})

/home/sseeds/.local/lib/python3.8/site-packages/uproot/language/python.py:422: NameConflictWarning: 'sbs.hcal.e' is both an alias and a branch name
  warnings.warn(